
}
#buttons {
    border: solid, thick;
    border-color: blue;
    height: 120px;
    width: 555px;
    margin:auto;

    object-fit: cover;
    
    
    


}
button {
    background-color: rgb(114, 58, 114);
    border: solid, thick;
    border-color: black;
    width: 130px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 35px;
    margin-bottom: 35px;
    
    


}
#scores {
    font-size: 20px;
    color: green;

}
#results {
    font-size:20px;
}
#warning {
    color: red;
    font-size: 35px;
}
#choice {
    font-size: 25px;

}
body {
    text-align: center;
    background-color: yellowgreen;
}

p {
    font-size: 19px;
}
h2 {
    color: rgb(114, 58, 114);
    font-size: 45px;
}
